<% layout("/layouts/boilerplate") -%>
    
<div class="index">
    <h2 class="mt-3 mb-3"><%=metadata.indexName%></h2>
    <h4>
        <div class="currPrice">
            Latest price: <%=metadata.last%>
        </div>
    </h4>

    <h5>
        <div class="change">
            <div class="priceChng chng">
                <% if(metadata.change.toFixed(2)>0) { %>
                    <div class="green">
                        &plus;<%=metadata.change.toFixed(2)%>
                    </div>
                <% } %>
                <% if(metadata.change.toFixed(2)<0) { %>
                    <div class="red">
                        &minus;<%=metadata.change.toFixed(2)%>
                    </div>
                <% } %>
                
            </div>
            <div class="percChng chng">
                <% if(metadata.change.toFixed(2)>0) { %>
                    <div class="green">
                        &plus;<%=metadata.percChange%>&percnt;
                    </div>
                <% } %>
                <% if(metadata.change.toFixed(2)<0) { %>
                    <div class="red">
                        &minus;<%=metadata.percChange%>&percnt;
                    </div>
                <% } %>
                
            </div>
        </div>
    </h5>

    <div class="ohlc">
        <div class="open">
            Open= <%=metadata.open%>
        </div>
        <div class="prevclose">
            Prev Close= <%=metadata.previousClose%>
        </div>
        <div class="high">
            Day's high= <%=metadata.high%>
        </div>
        <div class="low">
            Day's low= <%=metadata.low%>
        </div>
    </div>

    <hr>
</div>

<div class="stock-list col-8 offset-2">
    <table class="stock-table">
        <thead>
            <th>Symbol</th>
            <th class="price-header">Price</th>
            <th>Change</th>
            <th>Day's high</th>
            <th>Day's low</th>
        </thead>
        <% for(let i=0; i<data.data.length; i++) { %>
                <tr>
                    <!-- <div class="stock"> -->
                        <td>
                            <div class="symbol">
                                <a href="/stock/<%=data.data[i].symbol%>">
                                    <%= data.data[i].symbol %>
                                </a>
                            </div>
                        </td>
                        <td class="price">
                            <div class="price">
                                <% if(data.data[i].change.toFixed(2)>0) { %>
                                    <div class="green">
                                        <span class="curr-price">
                                            <%= data.data[i].lastPrice %>
                                        </span>
                                        &plus;<%=data.data[i].change.toFixed(2)%>
                                    </div>
                                <% } %>
                                <% if(data.data[i].change.toFixed(2)<0) { %>
                                    <div class="red">
                                        <span class="curr-price">
                                            <%= data.data[i].lastPrice %>
                                        </span>
                                        <%=data.data[i].change.toFixed(2)%>
                                    </div>
                                <% } %>
                            </div>
                        </td>
                        <td>
                            <div class="chng-percnt">
                                <% if(data.data[i].pChange.toFixed(2)>=0) { %>
                                    <div class="green">
                                        &plus;<%=data.data[i].pChange.toFixed(2)%>&percnt;
                                    </div>
                                <% } %>
                                <% if(data.data[i].pChange.toFixed(2)<0) { %>
                                    <div class="red">
                                        <%=data.data[i].pChange.toFixed(2)%>&percnt;
                                    </div>
                                <% } %>
                            </div>
                        </td>
                        <td>
                            <div class="day-high">
                                <%= data.data[i].dayHigh %>
                            </div>
                        </td>
                        <td>
                            <div class="day-low">
                                <%= data.data[i].dayLow %>
                            </div>
                        </td>
                        
                    <!-- </div> -->
                </tr>
            
         <% } %>
    </table>
    
</div>